<div class="contenido">
    <h4 class="part-1">Paquete Promocional</h4>
    <form [formGroup]="formulario" (ngSubmit)="capturarDatos()">
    <div class="text-input">
      <div class="form-row">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Nombre Paquete:</span>
          <input type="text" formControlName="nombre_paquete"  id="nombre_paquete" class="form-control" placeholder="Ingrese el nombre del paquete" aria-label="ID" aria-describedby="basic-addon1">
          <span *ngIf="formulario.get('nombre_paquete')?.hasError('required')">
             El campo es <strong>Requerido</strong>
        </span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Pais:</span>
          <input type="text" formControlName="pais"  id="pais" class="form-control" placeholder="Ingrese el pais" aria-label="Nombre del Paquete Promocional" aria-describedby="basic-addon1">
          <span *ngIf="formulario.get('pais')?.hasError('required')">
            El campo es <strong>Requerido</strong>
          </span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Referencia imagen 1:</span>
          <input type="text" formControlName="ref_1" id="ref_1" class="form-control" placeholder="Referencia imagen 1" aria-label="Nombre del Paquete Promocional" aria-describedby="basic-addon1">
          <span *ngIf="formulario.get('ref_1')?.hasError('required')">
            El campo es <strong>Requerido</strong>
          </span>
        </div><div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Referencia imagen 2:</span>
          <input type="text" formControlName="ref_2" id="ref_2" class="form-control" placeholder="Referencia imagen 2" aria-label="Nombre del Paquete Promocional" aria-describedby="basic-addon1">
          <span *ngIf="formulario.get('ref_2')?.hasError('required')">
            El campo es <strong>Requerido</strong>
          </span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Referencia imagen 3:</span>
          <input type="text" formControlName="ref_3" id="ref_3" class="form-control" placeholder="Referencia imagen 3" aria-label="Nombre del Paquete Promocional" aria-describedby="basic-addon1">
          <span *ngIf="formulario.get('ref_3')?.hasError('required')">
            El campo es <strong>Requerido</strong>
          </span>
        </div><div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Referencia imagen 4:</span>
          <input type="text" formControlName="ref_4" id="ref_4" class="form-control" placeholder="Referencia imagen 4" aria-label="Nombre del Paquete Promocional" aria-describedby="basic-addon1">
          <span *ngIf="formulario.get('ref_4')?.hasError('required')">
            El campo es <strong>Requerido</strong>
          </span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Estrellas:</span>
          <input type="text" formControlName="estrellas" id="estrellas" class="form-control" placeholder="Ingrese el numero de estrellas" aria-label="Nombre del Paquete Promocional" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Descripcion 1:</span>
          <input type="text" formControlName="descripcion_1" id="descripcion_1" class="form-control" placeholder="Ingrese una descripcion corta" aria-label="Nombre del Paquete Promocional" aria-describedby="basic-addon1">
          <span *ngIf="formulario.get('descripcion_1')?.hasError('required')">
            El campo es <strong>Requerido</strong>
          </span>
        </div>
        <div class="input-group">
          <span class="input-group-text">Descripcion 2:</span>
          <textarea class="form-control" formControlName="descripcion_2" id="descripcion_2" placeholder="Ingrese una descripcion general" aria-label="Descripcion"></textarea>
          <span *ngIf="formulario.get('descripcion_2')?.hasError('required')">
            El campo es <strong>Requerido</strong>
          </span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Descripcion ubicacion:</span>
          <input type="text"  formControlName="descripcion_ubicacion" id="descripcion_ubicacion" class="form-control" placeholder="Ingrese descripcion ubicacion" aria-label="Nombre del Paquete Promocional" aria-describedby="basic-addon1">
          <span *ngIf="formulario.get('descripcion_ubicacion')?.hasError('required')">
            El campo es <strong>Requerido</strong>
          </span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Costo: $</span>
          <input type="number" formControlName="costo" id="costo" class="form-control" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-text">.00</span>
          <span *ngIf="formulario.get('costo')?.hasError('required')">
            El campo es <strong>Requerido</strong>
          </span>
        </div>
      </div>
      <div class="boton-anadir">
        <!--<button type="button" class="btn btn-outline-warning">Añadir Paquete</button>-->
        <button type="submit" class="btn btn-danger" *ngIf="bandera" [disabled]="formulario.invalid">Gurdar Cambios</button>
        <button type="button" class="btn btn-danger" *ngIf="!bandera" (click)="actualizarCambios()" [disabled]="formulario.invalid">Editar Cambios</button>
        <button type="button" class="btn btn-info" *ngIf="bandera">Cancelar</button> 
        <button type="button" class="btn btn-secondary" [routerLink]="['/paneladministrador']" *ngIf="!bandera">Volver</button>
      </div>
    </div>
  </form>
</div>
