<!--
  <div class="contenedor-footer">
    <div class="sec-2-footer">
      <div class="logo-footer">
        <img src="../../assets/img/Icon AirFLy.png" alt="" width="128px">
      </div>
      <p class="copyright">Copyright © AirFly 2024</p>
      <div class="redes-sociales">
        <img class="facebook" src="../../assets/img/facebook.png" alt="" width="32px">
        <img class="twitter" src="../../assets/img/gorjeo.png" alt="" width="32px">
        <img class="youtube" src="../../assets/img/youtube.png" alt="" width="32px">
        <img class="instagram" src="../../assets/img/instagram.png" alt="" width="32px">
      </div>
    </div>
    <div class="informacion-footer">
      <h4>Nunca pierdas una oferta!</h4>
      <p>Subscribete para recibir antes que nadie sobre nuestra promociones</p>
      <div class="inputs-contacto">
        <div class="input-email">
          <label class="labels" for="Email">Email:</label>
          <input type="text" name="Email" class="form-control border border-primary" required placeholder="Correo Electronico">
        </div>
        <div class="input-check">
          <input type="checkbox" name="tyc">
          <label class="labels" for="tyc">Terminos y Condiciones</label>
        </div>
      </div>
  </div>
  </div>
  -->
<div class="Caja">
  <div class="shifu-3-row footer-social-share-container footer-line-separation-bottom -fluid -no-gutter">
    <div class="col -sm-12 footer-social-share" id="social-links">
      <ul class="footer-social-share-list">
        <li class="footer-share-container"> <a class="footer-share-link" rel="nofollow" title="facebook | Despegar"
            href="https://www.facebook.com/DespegarColombia"> <i class="shifu-3-icon-social-facebook"></i> </a> </li>
        <li class="footer-share-container"> <a class="footer-share-link" rel="nofollow" title="instagram | Despegar"
            href="https://www.instagram.com/despegar/"> <i class="shifu-3-icon-social-instagram"></i> </a> </li>
        <li class="footer-share-container"> <a class="footer-share-link" rel="nofollow" title="twitter | Despegar"
            href="https://twitter.com/DespegarCo"> <i class="shifu-3-icon-social-twitter"></i> </a> </li>
        <li class="footer-share-container"> <a class="footer-share-link" rel="nofollow" title="youtube | Despegar"
            href="https://www.youtube.com/user/DespegarCom"> <i class="shifu-3-icon-social-youtube"></i> </a> </li>
      </ul>
    </div>
    <div class="hide-phone" id="footer-phones-container">
      <div class="col -sm-12 -md-3 footer-phone-sales"> <a class="footer-phone-link -shifu-3-hide-medium-down"
          href="tel:01 800 518 9327"> <strong class="footer-list-title">Para ventas </strong> <span
            id="phone-sale-footer-desktop-number">01 800 518 9327</span> </a> </div>
      <div class="footer-phone-postsales col -sm-12 -md-3"> <a class="footer-phone-link"
          href="/contacto?as_referer=shifu_footer" rel="nofollow"> <strong class="footer-list-title">Posventa </strong>
          <span id="footer-post-sale-phone">Centro de contacto</span> </a> </div>
    </div>
  </div>
  <div class="footer-telephone-info shifu-3-message -info-secondary -no-title -shifu-3-hide">
    <div class="message-icon-container"> <i class="shifu-3-icon-info-circle message-icon"></i> </div>
    <div class="message-body">
      <p class="shifu-3-p message-text"> Tenemos un nuevo teléfono de atención para Posventa. El número que ves, ya está
        actualizado. </p>
    </div>
  </div>
  <div class="shifu-3-row footer-links-container -fluid -no-gutter">
    <div class="footer-links-account col -sm-12 -md-4 -lg-3">
      <ul class="footer-list">
        <li class="footer-list-item"> <a class="footer-list-item-link footer-list-title"> Mi Cuenta </a> </li>
        <li class="footer-list-item"> <a class="footer-list-item-link" title="Conoce Pasaporte Despegar | Despegar"
            href="/pasaporte" data-action="loyaltyfooter-click"> Conoce Pasaporte Despegar </a> </li>
        <li class="footer-list-item"> <a class="footer-list-item-link" rel="nofollow" title="Mis Viajes | Despegar"
            href="/me/bookings?as_referer=shifu_footer">Mis Viajes </a> </li>
        <li class="footer-list-item"> <a class="footer-list-item-link" title="Mi Perfil | Despegar"
            href="/me/account">Mi Perfil </a> </li>
        <li class="footer-list-item"> <a class="footer-list-item-link" title="Eliminar mi cuenta"
            href="/me/account/delete-account">Eliminar mi cuenta </a> </li>
      </ul>
    </div>
    <div class="footer-links-institucional col -sm-12 -md-4 -lg-3">
      <ul class="footer-list">
        <li class="footer-list-item"><a class="footer-list-item-link footer-list-title">Somos Despegar</a></li>
        <li class="footer-list-item"><a class="footer-list-item-link" title="FAQs " href="/ayuda">FAQs</a></li>
        <li class="footer-list-item"><a class="footer-list-item-link" title="Ven a trabajar a Despegar | Despegar"
            href="//jobs.lever.co/despegar">Ven a trabajar a Despegar</a></li>
        <li class="footer-list-item"><a class="footer-list-item-link" rel="nofollow"
            title="Relación con Inversores | Despegar" href="//investor.despegar.com/home/default.aspx">Relación con
            Inversores</a></li>
        <li class="footer-list-item"><a rel="nofollow noopener noreferrer" target="_blank" class="footer-list-item-link"
            title=" | Despegar" href=""></a> </li>
      </ul>
    </div>
    <div class="footer-links-legales col -sm-12 -lg-3">
      <ul class="footer-list">
        <li class="footer-list-item"><a class="footer-list-item-link footer-list-title">Confianza en tus compras</a>
        </li>
        <li class="footer-list-item footer-list-item-terms"><a class="footer-list-item-link" rel="nofollow"
            title="Términos y condiciones | Despegar" href="/legales/terminos-y-condiciones"
            data-action="tyc-click">Términos y condiciones</a> </li>
        <li class="footer-list-item"><a class="footer-list-item-link" rel="nofollow"
            title="Política de privacidad | Despegar" href="/legales/politicas-de-privacidad"
            data-action="confidentiality-click">Política de privacidad</a></li>
        <li class="footer-list-item"><a rel="nofollow noopener noreferrer" target="_blank" class="footer-list-item-link"
            title=" | Despegar" href=""></a></li>
        <li class="footer-list-item"><a class="footer-list-item-link" title="Promociones vigentes | Despegar"
            href="/promosvigentes" data-action="promosvigentes-click">Promociones vigentes</a></li>
        <li class="footer-list-item"><a class="footer-list-item-link" title=" | Despegar" href=""
            data-action="payment-click"></a></li>
        <li class="footer-list-item"><a class="footer-list-item-link" title="Condiciones IVA | Despegar"
            href="/promosvigentes/condiciones-co-iva/">Condiciones IVA</a></li>
        <li class="footer-list-item"><a class="footer-list-item-link" title="Black Friday | Despegar"
            href="https://www.despegar.com.co/black-friday" data-action="ofertas-blackfriday-click">Black Friday</a>
        </li>
        <li class="footer-list-item"><a class="footer-list-item-link"
            title="Oferta Wow - Ver Términos y Condiciones Capítulo 2. Sección 1.11 | Despegar"
            href="/legales/terminos-y-condiciones" data-action="ofertas-wow-click">Oferta Wow - Ver Términos y
            Condiciones Capítulo 2. Sección 1.11</a></li>
      </ul>
    </div>
    <div class="footer-links-negocios col -sm-12 -md-6 -lg-3">
      <ul class="footer-list">
        <li class="footer-list-item"><a class="footer-list-item-link footer-list-title">Potencia tu negocio</a></li>
        <li class="footer-list-item"><a class="footer-list-item-link" title="Agrega tu flota | Despegar"
            href="/cars/add-fleet">Agrega tu flota</a></li>
        <li class="footer-list-item"><a class="footer-list-item-link" rel="nofollow"
            title="Programa de Agencias Afiliadas | Despegar" href="//hoteldo.com/">Programa de Agencias Afiliadas</a>
        </li>
        <li class="footer-list-item"><a class="footer-list-item-link" rel="nofollow"
            title="Premium Connectivity Partner | Despegar" href="/informacion/partners">Premium Connectivity
            Partner</a></li>
      </ul>
    </div>
    <div class="footer-list-selects col -sm-12 -md-4 -lg-3">
      <div class="footer-country-select"><span class="select-title footer-list-title">Navegar en el sitio de:</span>
        <div class="shifu-3-select -md">
          <div class="select-container"> <select id="eva-country" class="select-tag"
              onchange="(function(value) {window.location.href = value })(value)">
              <option class="select-option" value="//www.despegar.com.co/">Colombia</option>
              <option class="select-option" value="//www.despegar.com.ar/">Argentina</option>
              <option class="select-option" value="//www.despegar.com.bo/">Bolivia</option>
              <option class="select-option" value="//www.decolar.com/">Brasil</option>
              <option class="select-option" value="//www.despegar.cl/">Chile</option>
              <option class="select-option" value="//www.despegar.co.cr/">Costa Rica</option>
              <option class="select-option" value="//www.despegar.com.ec/">Ecuador</option>
              <option class="select-option" value="//www.despegar.com.sv/">El Salvador</option>
              <option class="select-option" value="//www.despegar.com.gt/">Guatemala</option>
              <option class="select-option" value="//www.despegar.hn/">Honduras</option>
              <option class="select-option" value="//www.despegar.com.mx/">México</option>
              <option class="select-option" value="//www.despegar.com.ni/">Nicaragua</option>
              <option class="select-option" value="//www.despegar.com.pa/">Panamá</option>
              <option class="select-option" value="//www.despegar.com.py/">Paraguay</option>
              <option class="select-option" value="//www.despegar.com.pe/">Perú</option>
              <option class="select-option" value="//www.despegar.com.pr/">Puerto Rico</option>
              <option class="select-option" value="//www.despegar.com.do/">República Dominicana</option>
              <option class="select-option" value="//www.us.despegar.com/">Estados Unidos</option>
              <option class="select-option" value="//www.despegar.com.uy/">Uruguay</option>
            </select> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shifu-3-row footer-logos-container -shifu-3-hide-small -fluid -no-gutter">
    <div class="footer-logo-item"> <img loading="lazy"
        src="//media.staticontent.com/media/pictures/d6068d49-5a7e-4b84-ba41-9f5fdfc32e4d/79x60/" alt="Iata"
        title="Iata" class="footer-image-item"> </div>
    <div class="footer-logo-item"> <img loading="lazy"
        src="//media.staticontent.com/media/pictures/7b1dfe7c-4c4f-4394-bf8a-333d66ebd86e/"
        alt="ANATO - Asociación Colombiana de Agencias de Viajes y Turismo" title=" ANATO - Asociación Colombiana
        de Agencias de Viajes y Turismo" class="footer-image-item"> </div>
  </div>
  <div class="shifu-line"></div>
  <div class="shifu-3-row footer-legal-container -no-gutter -fluid">
    <div class="footer-legal-primary col -sm-12 -lg-6">
      <p class="footer-legal-links-container"><span class="footer-text-links">Despegar está presente en </span> <a
          href="//www.despegar.com.co" class="footer-country-link">Colombia</a>, <a href="//www.despegar.com.ar"
          class="footer-country-link">Argentina</a>, <a href="//www.despegar.com.bo"
          class="footer-country-link">Bolivia</a>, <a href="//www.decolar.com" class="footer-country-link">Brasil</a>,
        <a href="//www.despegar.cl" class="footer-country-link">Chile</a>, <a href="//www.despegar.co.cr"
          class="footer-country-link">Costa Rica</a>, <a href="//www.despegar.com.ec"
          class="footer-country-link">Ecuador</a>, <a href="//www.despegar.com.sv" class="footer-country-link">El
          Salvador</a>, <a href="//www.despegar.com.gt" class="footer-country-link">Guatemala</a>, <a
          href="//www.despegar.hn" class="footer-country-link">Honduras</a>, <a href="//www.despegar.com.mx"
          class="footer-country-link">México</a>, <a href="//www.despegar.com.ni"
          class="footer-country-link">Nicaragua</a>, <a href="//www.despegar.com.pa"
          class="footer-country-link">Panamá</a>, <a href="//www.despegar.com.py"
          class="footer-country-link">Paraguay</a>, <a href="//www.despegar.com.pe"
          class="footer-country-link">Perú</a>, <a href="//www.despegar.com.pr" class="footer-country-link">Puerto
          Rico</a>, <a href="//www.despegar.com.do" class="footer-country-link">República Dominicana</a>, <a
          href="//www.us.despegar.com" class="footer-country-link">Estados Unidos</a>, <a href="//www.despegar.com.uy"
          class="footer-country-link">Uruguay</a> </p>
      <div class="footer-primary-text"> <strong class="-shifu-3-bold">Despegar Colombia S.A.S – Despegar.com – NIT
          900.610.518-5. - Calle 26 # 92 32 Oficina 202 Piso 2 Edificio Bts 3, Bogotá, Colombia. Todos los derechos
          reservados.</strong> Registro Nacional de Turismo no. 31460. Derechos de pasajero y/o deberes del
        transportador <a href="https://www.sic.gov.co/" rel="nofollow noopener" target="_blank">SIC</a> - <a
          href="https://www.supertransporte.gov.co" rel="nofollow" target="_blank">Superintendencia de Transporte</a> -
        <a href="//www.rues.org.co/RNT" rel="nofollow" target="_blank">Consulta de Registro Nacional de Turismo</a> -
        <span id="shifu-js-retraction-law-container"> <input type="checkbox" id="shifu-retraction-law"> <label
            for="shifu-retraction-law" class="shifu-retraction-law-label"> Ley de retracto </label> </span> </div>
    </div>
    <div class="footer-legal-secondary col -sm-12 -lg-6 co">
      <div>En desarrollo de lo dispuesto en el artículo 17 de la Ley 679 de 2001, la agencia advierte al turista que la
        explotación y el abuso sexual de menores de edad en el país son sancionados penal y administrativamente,
        conforme a las leyes vigentes.</div>
    </div>
  </div>
</div>