  <div class="contenedor-footer">
    <div class="sec-2-footer">
      <div class="logo-footer">
        <img src="../../assets/img/Icon AirFLy.png" alt="" width="128px">
      </div>
      <p class="copyright">Copyright © AirFly 2024</p>
      <div class="redes-sociales">
        <img class="facebook" src="../../assets/img/facebook.png" alt="" width="32px">
        <img class="twitter" src="../../assets/img/gorjeo.png" alt="" width="32px">
        <img class="youtube" src="../../assets/img/youtube.png" alt="" width="32px">
        <img class="instagram" src="../../assets/img/instagram.png" alt="" width="32px">
      </div>
    </div>
    <div class="informacion-footer">
      <h4>Nunca pierdas una oferta!</h4>
      <p>Subscribete para recibir antes que nadie sobre nuestra promociones</p>
      <div class="inputs-contacto">
        <div class="input-email">
          <label class="labels" for="Email">Email:</label>
          <input type="text" name="Email" class="form-control border border-primary" required placeholder="Correo Electronico">
        </div>
        <div class="input-check">
          <input type="checkbox" name="tyc">
          <label class="labels" for="tyc">Terminos y Condiciones</label>
        </div>
      </div>
  </div>
  </div>