/*
.contenedor-footer{
  display: flex;
  border-top: solid 1px rgb(91, 172, 245, 1);
}
.informacion-footer{
  width: 60%;
  height: 180px;
  background-color: white
}
.informacion-footer h4{
  color: black;
  position: relative;
  top: 11%;
  margin-left: 11%;
  font-weight: 500;
  font-size: x-large;
}
.informacion-footer p{
  color: black;
  position: relative;
  top: 11%;
  margin-left: 11%;
  width: 70%;
  font-weight: 100;
  font-size: medium;
}
.labels{
  color: black;
  font-weight: 500;
}
.input-email{
  margin-top: 14%;
}
.input-email input{
  margin-left: 3%;
  width: 70%;
}
.input-check{
  margin-top: 5%;
}
.input-check label{
  margin-left: 3%;
}

.inputs-contacto{
  margin-left: 12%;
  width: 30%;
}
.sec-2-footer{
  width: 40%;
  max-height: 180px;
  border-right: solid 1px rgb(91, 172, 245, 1);
}
.sec-2-footer p{
  position: relative;
  top: 106px;
  left: 33%;
}
.sec-2-footer p:hover{
  font-weight: bold;
}
.redes-sociales{
  display: inline-flex;
  margin-left: 30%;
  gap: 15px;
}
.redes-sociales img:hover{
  transform: scale(1.25);
}
.logo-footer{
  position: relative;
  width: 20%;
  height: 20%;
}
*/
caja{
  --brand-primary-1: #EBE5F5;
  --brand-primary-2: #A780FF;
  --brand-primary-3: #4300D2;
  --brand-primary-4: #270570;
  --brand-secondary-1: #FFE3E0;
  --brand-secondary-2: #FB8478;
  --brand-secondary-3: #FA503F;
  --brand-secondary-4: #E12B19;
  --brand-tertiary-1: #ECFDF9;
  --brand-tertiary-2: #CBF6EC;
  --brand-tertiary-3: #ADEDDD;
  --brand-tertiary-4: #62C1A3;
  --color-black: #000000;
  --color-neutral-100: #F2F4F5;
  --color-neutral-300: #DDE1E8;
  --color-neutral-400: #C0C4CC;
  --color-neutral-600: #767E89;
  --color-neutral-700: #545962;
  --color-neutral-800: #343A3D;
  --color-white: #FFFFFF;
  --color-info-100: #E7F1FF;
  --color-info-300: #95C5FF;
  --color-info-500: #3F95FA;
  --color-info-900: #1C63B6;
  --color-success-100: #E6FBF4;
  --color-success-300: #8FE3C6;
  --color-success-500: #03A691;
  --color-success-900: #007D6D;
  --color-warning-100: #FFF0E1;
  --color-warning-300: #FFC286;
  --color-warning-500: #FA8E04;
  --color-warning-900: #A85F14;
  --color-error-100: #FFEBE8;
  --color-error-300: #FF9D8F;
  --color-error-500: #FA503F;
  --color-error-900: #A43424;
  --eva-loyalty-primary-700: #F04A51;
  --eva-loyalty-primary-500: #FF5C63;
  --eva-loyalty-primary-300: #FF7A80;
  --eva-loyalty-primary-100: #FFF1F2;
  --eva-loyalty-secondary-500: #FAE74B;
  --eva-loyalty-secondary-300: #FFF288;
  --eva-loyalty-secondary-200: #FFF5AB;
  --eva-loyalty-secondary-100: #FFFBDB;
  --eva-loyalty-tertiary-900: #12101C;
  --eva-loyalty-tertiary-800: #1B182B;
  --eva-loyalty-tertiary-600: #353645;
  --eva-loyalty-tertiary-400: #535466;
  --eva-loyalty-quaternary-800: #897940;
  --eva-loyalty-quaternary-500: #E0CB82;
  --eva-loyalty-quaternary-300: #ECE0B4;
  --eva-loyalty-quaternary-100: #F9F5E6;
  --eva-unbeatable-primary-500: #EFE02C;
  --eva-unbeatable-secondary-800: #410062;
  --eva-illustration-13: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/scenes/0.0.8/13.svg);
  --eva-illustration-14: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/scenes/0.0.8/14.svg);
  --eva-illustration-15: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/scenes/0.0.8/15.svg);
  --eva-illustration-18: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/scenes/0.0.8/18.svg);
  --eva-illustration-23: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/scenes/0.0.8/23.svg);
  --eva-illustration-24: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/scenes/0.0.8/24.svg);
  --eva-illustration-destination-adventure: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/destination-adventure.svg);
  --eva-illustration-destination-beach: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/destination-beach.svg);
  --eva-illustration-destination-mountain: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/destination-mountain.svg);
  --eva-illustration-destination-exploration: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/destination-exploration.svg);
  --eva-illustration-destination-exploration-2: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/destination-exploration-2.svg);
  --eva-illustration-destination-city: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/destination-city.svg);
  --eva-illustration-event-christmas: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/event-christmas.svg);
  --eva-illustration-feedback-success: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/feedback-success.svg);
  --eva-illustration-feedback-error: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/feedback-error.svg);
  --eva-illustration-feedback-done: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/feedback-done.svg);
  --eva-illustration-feedback-empty-state: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/feedback-empty-state.svg);
  --eva-illustration-feedback-empty-state-2: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/feedback-empty-state-2.svg);
  --eva-illustration-help-airport: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/help-airport.svg);
  --eva-illustration-help-app: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/help-app.svg);
  --eva-illustration-help-laptop: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/help-laptop.svg);
  --eva-illustration-help-cellphone: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/help-cellphone.svg);
  --eva-illustration-navigation-coffee-bar: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/navigation-coffee-bar.svg);
  --eva-illustration-navigation-home: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/navigation-home.svg);
  --eva-illustration-navigation-home-2: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/navigation-home-2.svg);
  --eva-illustration-navigation-office: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/navigation-office.svg);
  --eva-illustration-navigation-searching: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/navigation-searching.svg);
  --eva-illustration-offers-destination: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/offers-destination.svg);
  --eva-illustration-offers-app: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/offers-app.svg);
  --eva-illustration-planning-group: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/planning-group.svg);
  --eva-illustration-planning-dates: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/planning-dates.svg);
  --eva-illustration-planning-exploration: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/planning-exploration.svg);
  --eva-illustration-planning-next-trip: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/planning-next-trip.svg);
  --eva-illustration-planning-chat: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/planning-chat.svg);
  --eva-illustration-security-airplane: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/security-airplane.svg);
  --eva-illustration-security-airplane-covid: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/security-airplane-covid.svg);
  --eva-illustration-security-covid: url(https://www.staticontent.com/eva-core/assets/illustrations/brands/scenes/0.0.8/security-covid.svg);
  --eva-illustration-airplane: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/airplane.svg);
  --eva-illustration-airplane-landing: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/airplane-landing.svg);
  --eva-illustration-airplane-take-off: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/airplane-take-off.svg);
  --eva-illustration-baby: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/baby.svg);
  --eva-illustration-backpack: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/backpack.svg);
  --eva-illustration-bag-coin: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/bag-coin.svg);
  --eva-illustration-bag-like: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/bag-like.svg);
  --eva-illustration-bag-ok: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/bag-ok.svg);
  --eva-illustration-balloon-cancel: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/balloon-cancel.svg);
  --eva-illustration-balloon-coin: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/balloon-coin.svg);
  --eva-illustration-balloon-contact: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/balloon-contact.svg);
  --eva-illustration-balloon-warning: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/balloon-warning.svg);
  --eva-illustration-bed-up-down: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/bed-up-down.svg);
  --eva-illustration-bathroom: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/bathroom.svg);
  --eva-illustration-bedroom: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/bedroom.svg);
  --eva-illustration-calendar-change-ok: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/calendar-change-ok.svg);
  --eva-illustration-calendar-change-question: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/calendar-change-question.svg);
  --eva-illustration-calendar-change-up-down: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/calendar-change-up-down.svg);
  --eva-illustration-calendar-secondary: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/calendar-secondary.svg);
  --eva-illustration-calendar-tertiary: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/calendar-tertiary.svg);
  --eva-illustration-car-insurance: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/car-insurance.svg);
  --eva-illustration-car-up-down: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/car-up-down.svg);
  --eva-illustration-carry-on-2-disabled: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/carry-on-2-disabled.svg);
  --eva-illustration-carry-on-2: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/carry-on-2.svg);
  --eva-illustration-carry-on-disabled: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/carry-on-disabled.svg);
  --eva-illustration-carry-on: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/carry-on.svg);
  --eva-illustration-coupon: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/coupon.svg);
  --eva-illustration-coupon-active: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/coupon-active.svg);
  --eva-illustration-credit-card: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/credit-card.svg);
  --eva-illustration-cup-plate-clock: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/cup-plate-clock.svg);
  --eva-illustration-desktop-ok: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/desktop-ok.svg);
  --eva-illustration-dollar: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/dollar.svg);
  --eva-illustration-flight-ticket-combination: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/flight-ticket-combination.svg);
  --eva-illustration-gift: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/gift.svg);
  --eva-illustration-hotel-2: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/hotel-2.svg);
  --eva-illustration-hotel-3: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/hotel-3.svg);
  --eva-illustration-hotel-deals: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/hotel-deals.svg);
  --eva-illustration-invoices-coin: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/invoices-coin.svg);
  --eva-illustration-kitchen: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/kitchen.svg);
  --eva-illustration-mail-plus: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/mail-plus.svg);
  --eva-illustration-mail-question: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/mail-question.svg);
  --eva-illustration-marker-road: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/marker-road.svg);
  --eva-illustration-mobile-app: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/mobile-app.svg);
  --eva-illustration-my-bills-disabled: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/my-bills-disabled.svg);
  --eva-illustration-my-bills-question-disabled: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/my-bills-question-disabled.svg);
  --eva-illustration-my-bills-question: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/my-bills-question.svg);
  --eva-illustration-my-bills: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/my-bills.svg);
  --eva-illustration-note-security: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/note-security.svg);
  --eva-illustration-note: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/note.svg);
  --eva-illustration-pasaporte: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/pasaporte.svg);
  --eva-illustration-people: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/people.svg);
  --eva-illustration-pet: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/pet.svg);
  --eva-illustration-reminder: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/reminder.svg);
  --eva-illustration-safety-mask: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/safety-mask.svg);
  --eva-illustration-search: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/search.svg);
  --eva-illustration-seat: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/seat.svg);
  --eva-illustration-share-question: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/share-question.svg);
  --eva-illustration-shield: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/shield.svg);
  --eva-illustration-special-request-add: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/special-request-add.svg);
  --eva-illustration-special-request-star: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/special-request-star.svg);
  --eva-illustration-special-request-warning: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/special-request-warning.svg);
  --eva-illustration-suitcase-disabled: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/suitcase-disabled.svg);
  --eva-illustration-suitcase: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/suitcase.svg);
  --eva-illustration-surface: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/surface.svg);
  --eva-illustration-syringe: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/syringe.svg);
  --eva-illustration-swimming-pool: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/swimming-pool.svg);
  --eva-illustration-ticket-activity: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/ticket-activity.svg);
  --eva-illustration-ticket-benefit: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/ticket-benefit.svg);
  --eva-illustration-ticket-change-cancel-disabled: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/ticket-change-cancel-disabled.svg);
  --eva-illustration-ticket-change-clock: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/ticket-change-clock.svg);
  --eva-illustration-ticket-change-question: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/ticket-change-question.svg);
  --eva-illustration-ticket-change-refresh: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/ticket-change-refresh.svg);
  --eva-illustration-ticket-change-setup-disabled: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/ticket-change-setup-disabled.svg);
  --eva-illustration-ticket-change-setup: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/ticket-change-setup.svg);
  --eva-illustration-ticket-change: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/ticket-change.svg);
  --eva-illustration-ticket-discount: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/ticket-discount.svg);
  --eva-illustration-trip-guide: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/trip-guide.svg);
  --eva-illustration-trophy: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/trophy.svg);
  --eva-illustration-two-markers-map: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/two-markers-map.svg);
  --eva-illustration-user-add-1: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/user-add-1.svg);
  --eva-illustration-user-add: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/user-add.svg);
  --eva-illustration-user-question-1: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/user-question-1.svg);
  --eva-illustration-user-question: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/user-question.svg);
  --eva-illustration-vacation-rental: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/vacation-rental.svg);
  --eva-illustration-voucher-disabled: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/voucher-disabled.svg);
  --eva-illustration-voucher-download: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/voucher-download.svg);
  --eva-illustration-voucher: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/voucher.svg);
  --eva-illustration-wallet: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/wallet.svg);
  --eva-illustration-watch-deal: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/watch-deal.svg);
  --eva-illustration-wheelchair: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/icons/0.0.12/wheelchair.svg);
  --eva-illustration-airplane-refresh: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/compositions/0.0.8/airplane-refresh.svg);
  --eva-illustration-airplane-up-cost: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/compositions/0.0.8/airplane-up-cost.svg);
  --eva-illustration-bag-bring: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/compositions/0.0.8/bag-bring.svg);
  --eva-illustration-bag-clock-marker: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/compositions/0.0.8/bag-clock-marker.svg);
  --eva-illustration-bag-like-marker: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/compositions/0.0.8/bag-like-marker.svg);
  --eva-illustration-car-toll: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/compositions/0.0.8/car-toll.svg);
  --eva-illustration-hotels: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/compositions/0.0.8/hotels.svg);
  --eva-illustration-passport-alert: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/compositions/0.0.8/passport-alert.svg);
  --eva-illustration-roundtrip-tickets-combinations: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/compositions/0.0.8/roundtrip-tickets-combinations.svg);
  --eva-illustration-suitcase-ok: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/compositions/0.0.8/suitcase-ok.svg);
  --eva-illustration-trip-guide-backpack: url(https://www.staticontent.com/eva-core/assets/illustrations/despegar/compositions/0.0.8/trip-guide-backpack.svg);
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  font-variant: inherit;
  color: var(--color-neutral-800);
  font-family: Rubik,Arial,sans-serif;
  font-size: 14px;
  line-height: 1;
  background-color: var(--color-neutral-100);
  padding-bottom: 40px;
}