.text-encabezado h4{
    top: 70px;
    width: 50%;
    margin-bottom: 8%;
    position: relative;
    left: 23%;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: large;
}
.text-informativo h4{
    top: 30px;
    position: relative;
    left: 10%;
    color: white;
    font-size: medium;
}
.btn-informativo{
    margin-top: 20%;
    margin-left: 5%;
}
.contenido{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    width: 100;
}
.sidebar{
    width: 30%;
    margin-top: 8%;
    background-color: #0d6efd;
    border-radius: 40px;
    max-height: 600px ;
}
.seccion{
    width: 70%;
}
li{
    list-style-type: none;
}

.card{
    margin-left: 18%;
    margin-right: 10%;
    cursor: pointer;
}
.card-body{
    text-align: center;
}
.card-body h5{
    color: black;
    font-weight: bold;
    font-size: large;
}

.btn-group{
    width: 30px;
}

