<div class="container">
    <div class="head">
     <img src="../../assets/img/Avion-AirFly.png" alt="Logo-Avion-AirFly">
    <h2>Bienvenido!</h2>
    <div class="text">
        <p>Elige la cuenta con la que quieres ingresar. Si eres AirFly User, te recomendamos usar el correo vinculado a tu cuenta para tener una mejor experiencia.</p>   
    </div>
    </div>
    <div class="btns-login">
        <button type="button" class="btn btn-primary" routerLink="/paneladministrador">Continue with AirUser</button><br><br>
        <button type="button" class="btn btn-light">Google</button><br><br>
        <button type="button" class="btn btn-dark">Apple</button>
    </div>
</div>