<app-barranavegacion></app-barranavegacion>
    <div class="seccion-1">
      <div class="tarjeta-1">
        <div class="bg-blue">
          <div class="tarjeta-secc-1-1">
            <div class="text-informativo">
              <h3>Mas Que Solo Un Viaje!</h3>
              <p>En AirFly estamos comprometidos a mejorar nuestra calidad <br>dia por dia para un mejor servicio.</p>
            </div>
            <div class="lista-informativa">
              <div class="lista-1">
                  <h4>+7 Millones</h4>
                  <p>Mas de 5 millones de pasajeros transportado en 2023</p>
              </div>
              <div class="lista-2">
                <div class="translucido">
                  <h4>+44 Destinos</h4>
                  <p>Cuatro continentes, con 44 rutas internacionales y 35 locales</p>
                </div>
              </div>
              <div class="lista-3">
                <h4>+56 Unidades</h4>
                <p>Contamos con mas de 56 rutas aereas con todas las estandarizacion intertacionales y comodidad</p>
              </div>
            </div>
          </div>
          <div class="tarjeta-secc-1-2">
            <div class="text-info">
              <div class="informacion-areopuertos">
                  <p class="p1 ">Aeropuerto de Salida</p>
                  <h4>Bogotá(BGT)</h4>
                  <p>Aeropuerto el Dorado</p>
              </div>
              <div class="selec-aeropuerto">
                <img src="../../assets/img/person.svg" alt="">
                <select class="form-select form-select-sm" aria-label="Small select example">
                  <option selected>Pasajeros</option>
                  <option value="1">Uno</option>
                  <option value="2">Dos</option>
                  <option value="3">Mas de Tres</option>
                </select>
                <div class="buttom-search">
                  <button type="button" class="btn btn-primary">Buscar Ticket</button>
                </div>
              </div>

            </div>
            <div class="text-interact">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="seccion-2">
      <div class="tarjeta-2">
        <div class="tarjeta-secc-2-part-1">
          <div class="text-offert">
            <h4>Oferta Espepcial!</h4>
            <div class="card" style="width: 100%; height: 90%;">
              <img src="{{imglink}}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">{{PaisDestino}}</p>
                <h4 class="card-text">{{Destino}}</h4>
                <p class="card-text">Vuelo en clase economica - regreso el 26 Junio 2024<br>desde 1200USD</p>
              </div>
            </div>
          </div>
        </div>
        <div class="tarjeta-secc-2-part-2">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../assets/img/barcelona.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">Emiratos Árabes Unidos.</p>
                  <h4 class="card-title">Dubai</h4>
                  <p class="card-text">Vuelo en clase economica - regreso el 26 Junio 2024 desde 1200USD</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../assets/img/Cancun.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">México</p>
                  <h4 class="card-title">Cancún</h4>
                  <p class="card-text">Vuelo en clase economica - regreso el 26 Junio 2024 desde 1200USD</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../assets/img/paris.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">Francia</p>
                  <h4 class="card-title">Paris</h4>
                  <p class="card-text">Vuelo en clase economica - regreso el 26 Junio 2024 desde 1200USD</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <app-footer></app-footer>
  
 <!-- <footer>
    <div class="informacion-footer">
        <h4>Nunca pierdas una oferta!</h4>
        <p>Subscribete para recibir antes que nadie sobre nuestra promociones</p>
        <div class="inputs-contacto">
          <label for="Email">Email:</label><input type="text" name="Email">
          <input type="checkbox" name="tyc" id="">
          <label for=""tyc>Terminos y Condiciones</label>
        </div>
        <button type="button" class="btn btn-outline-info">Enviar</button>
    </div>
  </footer> 
-->
